$blackColor: #000101;
$greyColor: #989898;
$yellowColor: #76590B;

.wrapper {
  background-color: white;
  height: 100%;
  color: black;
}

.social-icon {
  width: 30px !important;
  height: 30px !important;
}

.hidden {
  color: $blackColor;
}

.title-h5 {
  color: $blackColor;
}
.service-item-text{
  color: $blackColor;
}

.icon-color{
  color: $yellowColor;
}
