.contentSection {
  overflow: hidden !important;
}
.center {
  text-align: center;
  position: relative;
  color: #304068;
}
h1 {
  font-size: 100px;
  position: absolute;
  top: -20px;
  margin: 0;
  text-align: center;
  width: 100%;
}
/* h3 {
    position: absolute;
    bottom: 20px;
    left: 10px;
} */
.return-btn {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  background: #304068;
  display: inline-block;
  border-radius: 20px;
}
.center img {
  width: 500px;
  height: 400px;
  margin-top: 25px;
}
