.add-icon {
  color: #0F469D;
  display: inline-block;
  opacity: 1;
  font-size: 2rem;
}

.add-item {
  .add-item-text {
    color: #363A3D;
    font-weight: 500;
    font-size: 1.3rem;
  }

  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .add-icon {
    width: 25px;
    height: 25px;
  }
  .add-item-text{
    font-size: 1.1rem !important;
  }
}
