.create-button {
  opacity: 1;
  background-color: #01589D !important;
  border-radius: 7px;
  padding-top: 3px !important;
  padding-bottom: 3px !important;

  &:hover {
    background-color: #01589D !important;
  }

  &:focus {
    box-shadow: none;
  }
}
