.input-field {
  input {
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 0;
    border-width: 2px;
    outline: none;
    border-color: #969696;
    box-shadow: none !important;
    margin-bottom: 0px !important;

    &:focus {
      border-color: #969696;
    }
  }

  span {
    font-size: 0.8rem;
    padding-left: 4px;
  }
}

.error-message {
  color: #dc3545;
  font-size: 18px;
}
